body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(43, 42, 42);
}

.maincontainer {
  margin-top: 3rem;
  background-color: mediumturquoise;
  align-self: center;
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px mediumaquamarine solid;
  border-radius: 15px;
}

.nazov {
  text-align: center;
}

.search {
  background-color: mediumseagreen;
  color: white;
  display: block;
  text-align: center;
  margin: 1rem;
  border-radius: 5px;
}
